:root {
  --bg1: rgb(0, 0, 0);
  --text1: rgb(255, 255, 255);
  --border1: solid 5px white;
  --border2: solid 2px red;
  --titleColor: white;
  --shadow1: #fff;
  --shadow2: rgb(171, 11, 11);
  --carouselIcon: #fff;
}

/* CSS reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--text1);
  background-color: var(--bg1);
  /* background-image: url('./assets/images/body-bg-2.jpg'); */
  background-size: 100vw 100%;
  background-attachment: fixed;
}

.socials-hamburger-container {
  display: flex;
}

.span-social-media {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: black;
}

.span-social-media a {
  text-decoration: none;
  color: inherit;
}

.span-social-media a svg {
  /* padding: 0; */
}

.font-awesome {
  padding: 0 0.3em;
}

.navbar-expand-md a[class="navbar-brand"] {
  margin-left: 1rem;
}

.nav__link {
  padding-left: 1rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.dropdown .dropdown-menu[data-bs-popper="static"] {
  left: -30%;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  /* border: var(--border2); */
  margin-top: 1.5rem;
}

.jumbotron__logo {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.jumbotron__motto {
  border: solid 2px black;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  font-family: "Mansalva", cursive;
  font-weight: bold;
  color: #000;
  animation-name: pulsate;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px red,
    0 0 82px rgb(92, 26, 26), 0 0 92px red, 0 0 102px red, 0 0 151px red;
}

.jumbotron__carousel {
  margin-top: 2rem;
  /* width: 100vw; */
}

.jumbotron__carousel h3,
.jumbotron__carousel p {
  color: white;
}

.jumbotron__carousel p {
  color: white;
  font-size: 1.25rem;
}
.jumbotron__carousel__icon {
  color: var(--carouselIcon);
}

.motto--tablet {
  display: none;
  font-size: 2.5rem;
}

.section {
  border-bottom: var(--border1);
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 0 1rem 3rem;
}

.section__title {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--titleColor);
}

.section.section__about {
  background-image: url("./assets/images/bg2.jpg");
  background-size: 100%;
}

.section.section__hours-locations-contact {
  padding: 0 0 3rem;
}

.section.section__hours-locations-contact section:not(:last-child) {
  border-bottom: var(--border1);
  padding: 0 0 3rem;
  margin-bottom: 2rem;
}

.section__hours,
.section__locations,
.section__contact {
  width: 100%;
}

.section__hours .section__content,
.section__locations .section__content,
.section__contact .section__content {
  font-family: "Glory", sans-serif;
  text-align: center;
}

.section__hours p:last-child {
  margin-bottom: 0;
}

.section__locations span,
.section__contact span {
  font-weight: 900;
  font-size: 1.25rem;
}

.mapBox {
  margin: 0 1rem;
}

.contact__email {
  display: block;
  width: 75%;
  margin: 0 auto;
  border-top: solid 2px pink;
}
.section__menu .section__content p {
  font-size: 1.25rem;
  font-family: "Glory", sans-serif;
  text-align: center;
}

.section__menu .section__content a {
  text-align: center;
  display: block;
}

.section__menu .section__content .menu-icon {
  font-size: 5.5rem;
  padding: 0;
  color: yellow;
}

.handshake {
  display: flex;
  flex-direction: column;
}

.handshake .handshake-icon {
  font-size: 8rem;
}

.form {
  margin-top: 1rem;
}

.form__text {
  color: rgb(238, 93, 254);
}

.form__button {
  margin-top: 1rem;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: auto;
  color: black;
}

.footer__div--img {
  height: 20vh;
}

.footer__div--img img {
  width: auto;
  display: inline;
  height: 100%;
}

.footer__div--text {
  padding: 0 .25rem;
  text-align: center;
}

.footer__div--text span a {
  text-decoration: none;
  color: black;
}
.footer__div--text span:first-child a {
  font-family: "Montserrat Subrayada", sans-serif;
}

.footer__div--text span:nth-child(3) {
  font-family: 'Glory', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.footer__div--text span:nth-child(3) .font-awesome {
  color: red;
}

.footer__div--socials {
  font-size: 1.5rem;
  font-family: 'Glory', sans-serif;
}

.footer__div--socials span a {
  color: inherit;
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 4px var(--shadow1), 0 0 11px var(--shadow1),
      0 0 19px var(--shadow1), 0 0 40px var(--shadow2), 0 0 80px var(--shadow2),
      0 0 90px var(--shadow2), 0 0 100px var(--shadow2),
      0 0 150px var(--shadow2);
  }
  0% {
    /* Smaller blur radius */
    text-shadow: 0 0 2px var(--shadow1), 0 0 4px var(--shadow1),
      0 0 6px var(--shadow1), 0 0 10px var(--shadow2), 0 0 45px var(--shadow2),
      0 0 55px var(--shadow2), 0 0 70px var(--shadow2), 0 0 80px var(--shadow2);
  }
}

/* Pseudo classes, states*/
.nav__link:hover,
.nav__link:focus {
  background-color: rgb(186, 207, 207);
}

/* Media queries for responsive design */
@media screen and (min-width: 576px) {
  .jumbotron__logo {
    width: 75%;
  }

  .section__hours .section__content,
  .section__locations .section__content,
  .section__contact .section__content {
    font-size: 1.5rem;
  }

  .section__locations span,
  .section__contact span {
    font-size: 1.55rem;
  }

  .section__menu .section__content p {
    font-size: 3rem;
  }

  .section__menu .section__content .menu-icon {
    font-size: 12rem;
  }

  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.25rem;
  }

  .footer__div--text, .footer__div--socials {
    margin: auto 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-size: cover;
  }

  .socials-hamburger-container {
    min-width: 20vw;
    order: 1;
    justify-content: end;
  }

  .nav__link {
    font-weight: normal;
  }

  .mr-auto.navbar-nav {
    flex-wrap: wrap;
  }
  .navbar-expand-md .navbar-nav .dropdown {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }

  .jumbotron__logo {
    width: 50%;
  }

  .jumbotron__motto {
    margin-top: 2rem;
  }
  .motto--mobile {
    display: none;
  }

  .motto--tablet {
    display: block;
  }

  .section__title {
    font-size: 2rem;
  }

  .section__join {
    padding: 0 10vw 3rem;
  }
}

@media screen and (min-width: 992px) {
  .nav__link {
    font-size: 1rem;
  }

  .nav__link.nav-item.dropdown {
    padding: 0;
  }

  .dropdown .dropdown-menu[data-bs-popper="static"] {
    left: 0;
  }

  .section.section__hours-locations-contact {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .section.section__hours-locations-contact section:not(:last-child) {
    margin-bottom: 0;
    border-right: var(--border1);
    border-bottom: none;
  }

  .handshake {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .handshake .handshake-icon {
    font-size: 13rem;
  }

  .handshake .form {
    order: -1;
    flex-grow: 0.5;
  }

  .form__button {
    width: 50%;
    display: block;
    margin: 1rem auto 0;
  }

  .footer {
    flex-direction: row;
    align-items: stretch;
  }
}

@media screen and (min-width: 1200px) {
  .motto--tablet {
    font-size: 4rem;
  }

  .handshake .handshake-icon {
    font-size: 17rem;
  }
}
